/*css ismail*/
body {
    margin: 0px;
    background-color: beige;
}

#wrapper{
    text-align: left;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

/*header*/
header {
    display: inline-flex;
    background-color: #4CCF90;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    margin-left: 40px;   
}

#logo-img {
    margin-top: 15px;
    height: 40px;
}

#logo-type {
    font-family: "Reem kufi";
    font-size: 45px;
    color: black;
    text-decoration: none;
    transform: translateY(-20%);
}

.search-container{
background-color: white;
margin: auto;
border-radius: 4px;
width: 60%;
padding: 5px 10px 5px 20px;
}

#search-ic{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

#txt {
    text-decoration: none;
    width: 93%;
    border: none;
    padding: 10px;
    opacity: 0.5;
}


.login {
    height: 100%;
    margin: auto;
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
}

.login a {
    font-size: 16px;
    color: #4CCF90;
}

/*banner*/
.banner {
    background: #C4C4C4;
    height: 250px;
    top: 0;
    padding: 180px 0px 0px 60px;
    color: black;
}

.banner h1 {
    position: absolute;
    width: 489px;
    height: 72px;
    left: 90px;
    top: 169.17px;
    
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;  
    
}

.banner p{
position: absolute;
width: 705px;
height: 36px;
left: 94.65px;
top: 250.65px;

font-family: Reem Kufi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
}

/*section*/
section {
    display: inline-flex;
    width: 100%;
    margin-bottom: 60px;
}


section img {
    width: 150px;
    height: 150px;
    padding: 30px;
}

section a {
    text-align: center;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

section a:hover {
    box-shadow: 5px 5px 5px 5px #4CCF90;
    opacity: 50%;
}

/* /*article
article{
    position: absolute;
    width: 1440px;
    height: 194.76px;
    left: 0px;
    top: 1901.62px;
    
    background: #B0A1A1;
} */

/*footer*/
footer{
    background-color: #4CCF90;
    text-align: center;
    font-size: 18px;
    padding: 10px;
}
