/*css untuk motor matic yamaha*/

.list-matic {
    width: 75%;
    margin: 35px auto;
    background-color: whitesmoke;
    padding: 20px;
    overflow: hidden;
}

.motor {
    border: 1px solid #888888;
    padding: 10px;
    float: left;
    width: 200px;
    margin: 5px;
}

body {
    margin: 0;
}

.motor img
{
    width: 100%;
    height: 225px;
    display: block;
    margin-bottom: 5px;
}

footer {
    background-color: #4CCF90;
    text-align: center;
    padding: 15px 15px;
}
